<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        Un utilisateur a rapporté l'offre <%- data.ref %> pour la raison suivante :

        <%- data.reason %>

        Si vous souhaitez bannir cette offre, <a id="delete" href="#delete">cliquez ici</a>, sinon, fermez cette page.

        Clickodrome administration.
    </body>
</html>